.container {
  /* background-color: blue; */
  width: 100vw;
  height: 100vw;
}

#botao-principal {
  background-color: red;
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
}