body {
    background-color: aquamarine;
}

#div-conteudo-1 {
    background-color: red;
}

.classe-grupo-amarelo {
    background-color: yellow;
}

div {
    background-color: pink; 
}

.classe-texto-azul {
    color: blue;
}

.classe-grupo-amarelo.classe-texto-azul {
    color: green;
}

#div-conteudo-4-7 div {
    background-color: blueviolet;
}

#div-conteudo-4-7 > div {
    background-color: orange;
}

button {
    background-color: cornflowerblue;
    padding: 0;
    margin-bottom: 20px;
    border: 10px solid red;
}

button:hover {
    background-color: aqua;
}
